#home {
  background-color: darkgrey;
  background-image: url('../images/hw-bg-7.2.svg');
  top: 200;
}
#bg-two {
  background-color: black;
  background-image: url('../images/hw-bg-9.05.svg');
}
#bg-three {
  background-color: darkgrey;
  background-image: url('../images/hw-bg-7.2.svg');
}

img {
  border: 2px solid black;
}

.first-letter {
  font-size: 1.5em;
  font-weight: bold;
}

.stack-panel {
  background: #e1e1e1;
  padding: 4%;
}

.stack-panel i {
  color: #161616;
  text-align: center;
  /*text-shadow: 1px -2px darkgrey;*/
  font-size: 4em;
}

.stack-list {
  text-align: center;
}
