#home {
  top: 200;
  background-color: darkred;
  /*background-image: url('../images/hw-bg-3.4.svg');*/
}
#bg-two {
  background-color: red;
  /*background-image: url('../images/hw-bg-3.4.svg');*/
}
