#home {
  top: 200;
  height: 25vh;
  background-color: grey;
  /*background-image: url('../images/hw-bg-1.3.svg');*/
  transform: scaleX(-1);
}
#bg-two {
  height: 15vh;
  background-color: darkgrey;
  /*background-image: url('../images/hw-bg-8.33.svg');*/
}

a {
  text-decoration: underline;
  color: black;
}
