#home {
  top: 200;
  background-color: grey;
  background-image: url('../images/hw-bg-1.3.svg');
  transform: scaleX(-1);
}
#bg-two {
  background-color: darkgrey;
  background-image: url('../images/hw-bg-8.33.svg');
}
