/* NOTE: Home.css: Holds CSS classes & definitions for templates/home.html */

/* Page-specific background settings */
#home {
  top: 200;
  height: 100vh;
  background-color: #000000;
  background-image: url('../images/hw-bg-6.65.svg');
  transform: scaleX(-1);
}
#bg-two {
  top: 200;
  background-color: #000000;
  background-image: url('../images/hw-bg-8.34.svg');
}

/* Quicklink anchors */
.quicklink {
  text-decoration: underline;
  color: #000000;
}

/* Gives padding to 'welcome' message */
.greeting {
  padding: 0% 5%;
}


.featured-project {
  background: #e1e1e1;
}
.featured-project img {
  border: 2px solid #000000;
}

.consult a {
  width: 60%;
}
.consult {
  padding: 1% 2%;
}

@media screen and (max-width: 1000px) {
  #home {
    height:50vh;
  }
}
