/* NOTE: Home.css: Holds CSS classes & definitions for templates/home.html */

/* Gives image tags a nice black border */
img {
  border: 2px solid black;
}

/* Page-specific background settings */
#home {
  top: 200;
  height: 100vh;
  background-color: #000000;
  background-image: url('../images/hw-bg-6.65.svg');
  transform: scaleX(-1);
}
#bg-two {
  top: 200;
  background-color: #000000;
  background-image: url('../images/hw-bg-8.34.svg');
}

/* Gives padding to 'welcome' message */
.greeting {
  padding: 0% 5%;
}

/* 'Reach Out' menu styling */
.consult a {
  width: 60%;
}
.consult {
  padding: 1% 2%;
}

/* 'Quicklinks' anchors */
.quicklink {
  text-decoration: underline;
  color: #000000;
}

/* MEDIA QUERIES */
/* Sets #home background height to 50vh on screens < 1000px */
@media screen and (max-width: 1000px) {
  #home {
    height:50vh;
  }
}
