#home {
  top: 200;
  height: 100vh;
  background-color: black;
  background-image: url('../images/hw-bg-6.65.svg');
  transform: scaleX(-1);
}
#bg-two {
  top: 200;
  background-color: black;
  background-image: url('../images/hw-bg-8.36.svg');
}
#bg-three {
  background-color: black;
  background-image: url('../images/hw-bg-6.65.svg');
}

.quicklink {
  text-decoration: underline;
  color: black;
}

.greeting {
  padding: 0% 5%;
}

.featured-project {
  background: #e1e1e1;
}
.featured-project img {
  border: 2px solid black;
}

.consult a {
  width: 60%;
}
.consult {
  padding: 1% 2%;
}

@media screen and (max-width: 600px) {
  #home {
    height:50vh;
  }
}
