#home {
  top: 200;
  background-image: url('../images/fancy-pants.jpg');
  background-size: auto;
  background-repeat: repeat;
}
#bg-two {
  background-color: orange;
}
#bg-three {
  background-color: darkorange;
  height: 100vh;
}
.p-links {
  text-decoration: underline;
  color: black;
}

.light-panel {
  background-color: grey;
}

.dark-panel {
  background-color: darkgrey;
}
