#home {
  top: 200;
  background-color: black;
  background-image: url('../images/hw-bg-1.3.svg');
  transform: scaleX(-1);
}
#bg-two {
  background-color: orange;
}
#bg-three {
  background-color: black;
  background-image: url('../images/hw-bg-1.3.svg');
  /*height: 100vh;*/
}
.p-links {
  text-decoration: underline;
  color: black;
}

img {
  border: 2px solid black;
}

.light-panel {
  background-color: white;
}

.dark-panel {
  background-color: #E1E1E1;
}
