* {
  margin: 0em;
}

header {
  top: 0px;
  z-index: 3;
  width: 100vw;
  display: block;
  position: fixed;
  background-color: #161616;
  padding: 0% 1%;
}

footer {
  background: rgba(0,0,0,0.5);
  text-align: center;
}

#home {
  top: 200;
  height: 100vh;
  background-color: black;
}
#bg-two {
  background-color: darkgrey;
}
#bg-three {
  background-color: grey;
}

.logo h1 {
  font-family: 'Krona One';
  color: darkgrey;
  margin: 0em;
}


.bg-holder {
  position: static;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000000;
}

@media (min-width: 900px) {
  .initials {
    display: none;
  }
}
@media (max-width: 899px) {
  .full-name {
    display: none;
  }
}
