* {
  margin: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
  color: black;
}

header {
  top: 0px;
  z-index: 3;
  width: 100vw;
  display: block;
  position: fixed;
  background-color: #ffffff;
  padding: 0% 2%;
}

/* Removes Default Semantic UI Menu Styling */
#menu {
  background: none;
  border: none;
  box-shadow: none;
}
#menu a {
  color: #161616;
}

.logo h1 {
  font-family: 'Mina', cursive;
  font-weight: 150;
  font-weight: 500;
  margin: 0em;
}

.logo h1 a {
  text-decoration: none;
  color: #161616;
}


/*  Desktop Menu */
.ui.menu {
  background-color: none;
}

/* Mobile Nav Overlay & CSS */
.right.menu {
  padding-right: 1.5%;
}
.ui.icon.button {
  background-color: #161616;
}
.large.bars.icon {
  color: #ffffff;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.75);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-links {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: left;
    margin-top: 5%;
}
.overlay a {
    padding: 1.2%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
    color: #161616;
}
.overlay .closebtn {
    position: absolute;
    top: 2.5%;
    right: 12%;
    font-size: 4em;
}


/* Gives padding to all content boxes */
.content-box {
  padding: 2%;
}


/* Controls Background Behavior */
.bg-holder {
  position: static;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #000000;
  background-attachment: fixed;
}



/* MEDIA QUERIES */
/* Change mobile link font-size & 'x' position @ screen size < 450px */
@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
    .overlay .closebtn {
        font-size: 2em;
        top: 15px;
        right: 35px;
    }
}
/* Toggles between initials & full name based on screen size < */
@media screen and (min-width: 600px) {
  .initials {
    display: none;
  }
  .ui.icon.button {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .full-name {
    display: none;
  }
  #menu {
    display: none;
  }
}
