<head>
  <link rel="stylesheet" href="css/about.css">
</head>

<div id="home" class="bg-holder"></div>
<!-- ABOUT ME -->
<div class="">
  <h1 class="content-box">About Me</h1>
  <div class="ui centered stackable grid">
    <div class="ui thirteen wide column">
      <img class="ui medium left floated image" src="/images/about/clh_head.jpg">
      <p><span class="first-letter">M</span>y name is Will Kaspar and  I'm a web developer based out of San Francisco, California.  I've been coding since 2016, working in both JavaScript and Ruby.  In that time, I've managed to learn a handful of other useful fullstack technologies, such as NodeJs and Express, Rails, AngularJs, SaSS, and more.</p>
      <img class="ui medium right floated image" src="/images/about/xmas-in-the-bay.jpg">
      <p>I'm very passionate about developing software, as it gives me a great outlet for my creativity while allowing me to chase my interests in technology.  Web development is the perfect balance of design and technology to pique my interest.  Hopefully, as you explore this website, that passion comes through :)</p>
      <p>When I'm not building software, I'm passionate about the outdoors.  I grew up in southeastern Tennessee and absolutely adore the mountains.  I thoroughly enjoy hiking, camping, and backpacking.  I have a dog, Indigo, who's a 5-year-old cattle beagle mix and my most loyal companion.  Before tech, I worked as a residential gardener here in SF, and I still enjoy gardening - it's become one of my favorite hobbies. I also love pinball and all kinds of gaming.<br><br>My favorite food is pepperoni pizza.</p>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>

<div id="bg-two" class="bg-holder"></div>
<!-- TECH SKILLZ LIST -->
<div class="">
  <div class="stack-panel ui grid">
    <div class="ui row centered">
      <h3 id="skills" class="my-header">Tech Skills</h3>
    </div>
    <!-- Row One -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-javascript-plain"></i>
        <p>JavaScript</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-ruby-plain"></i>
        <p>Ruby</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-jquery-plain"></i>
        <p>jQuery</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-angularjs-plain"></i>
        <p>Angular JS</p>
      </div>
    </div>
    <!-- Row Two -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-nodejs-plain"></i>
        <p>Node.js, Express</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-rails-plain"></i>
        <p>Rails</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-postgresql-plain"></i>
        <p>PostgreSQL</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-mongodb-plain"></i>
        <p>MongoDB</p>
      </div>
    </div>
    <!-- Row Three -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-html5-plain"></i>
        <p>HTML5</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-css3-plain"></i>
        <p>CSS3</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-sass-plain"></i>
        <p>SASS</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-bootstrap-plain"></i>
        <p>Bootstrap</p>
      </div>
    </div>
    <!-- Row Four -->
    <div class="ui row">
      <div class="stack-list ui column four wide">
        <i class="devicon-github-plain"></i>
        <p>Git, Github</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-heroku-plain"></i>
        <p>Heroku</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-wordpress-plain"></i>
        <p>Shopify, Squarespace, Wordpress, ServiceNow</p>
      </div>
      <div class="stack-list ui column four wide">
        <i class="devicon-photoshop-plain"></i>
        <p>Adobe CC</p>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </div>
</div>

<div id="bg-three" class="bg-holder"></div>
