<head>
  <link rel="stylesheet" href="css/about.css">
</head>
<div id="home" class="bg-holder"></div>
<div class="content-box">
  <h1>About Me</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div id="bg-two" class="bg-holder"></div>
<div class="">
    <div class="stack-panel ui grid">
      <div class="ui row centered">
        <h3 id="skills" class="my-header">Tech Skills</h3>
      </div>
      <!-- Row One -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <i class="devicon-javascript-plain"></i>
          <p>JavaScript</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-ruby-plain"></i>
          <p>Ruby</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-jquery-plain"></i>
          <p>jQuery</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-angularjs-plain"></i>
          <p>Angular JS</p>
        </div>
      </div>
      <!-- Row Two -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <i class="devicon-nodejs-plain"></i>
          <p>Node.js, Express</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-rails-plain"></i>
          <p>Rails</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-postgresql-plain"></i>
          <p>PostgreSQL</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-mongodb-plain"></i>
          <p>MongoDB</p>
        </div>
      </div>
      <!-- Row Three -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <i class="devicon-html5-plain"></i>
          <p>HTML5</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-css3-plain"></i>
          <p>CSS3</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-sass-plain"></i>
          <p>SASS</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-bootstrap-plain"></i>
          <p>Bootstrap</p>
        </div>
      </div>
      <!-- Row Four -->
      <div class="ui row">
        <div class="stack-list ui column four wide">
          <i class="devicon-github-plain"></i>
          <p>Git, Github</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-heroku-plain"></i>
          <p>Heroku</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-wordpress-plain"></i>
          <p>Shopify, Squarespace, Wordpress, ServiceNow</p>
        </div>
        <div class="stack-list ui column four wide">
          <i class="devicon-photoshop-plain"></i>
          <p>Adobe CC</p>
        </div>
      </div>
      <div class="ui hidden divider"></div>
    </div>

</div>
<div id="bg-three" class="bg-holder"></div>
