<head>
  <link rel="stylesheet" href="public/css/contact.css">
</head>
<div id="home" class="bg-holder"></div>
<div class="">
  <div class="content-box">
    <h2>Contact</h2>
  </div>

  <div class="ui grid">
    <div class="row centered">
      <h5 style="color:red;"><i class="icon cancel"></i>My server-side mailer is currently down, try again later or click <a href="mailto:wakaspar@gmail.com">here</a> to email me.</h5>
    </div>
    <div class="ui column twelve wide centered">
      <form id="contact-form" class="ui form" action="" method="post" enctype="multipart/form-data">
        <div class="ui field">
          <label>Email Address</label>
          <input type="text" name="email" placeholder="Email Address">
        </div>
        <div class="ui field">
          <label>Subject</label>
          <input type="text" name="subject" placeholder="Subject [Company, client name, etc.]">
        </div>
        <div class="ui field">
          <label>Consultation Job Description</label>
          <textarea id="form-messages" name="description" rows="2" placeholder="Please enter a short description of what you have in mind..."></textarea>
        </div>
        <button class="ui basic button" type=""><i class="icon send"></i>Send</button>
      </form>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>

<div id="bg-two" class="bg-holder"></div>
