<head>
  <link rel="stylesheet" href="css/home.css">
</head>

<div id="home" class="bg-holder"></div>

<!-- Welcome -->
<div class="content-box">
  <h1>Welcome</h1>
  <div class="greeting">
    <p>Hi, my name is Will Kaspar.  I'm a full-stack web developer based out of San Francisco, California.  This is my personal website.</p>
    <p>Explore and enjoy.  Thanks for dropping by!</p>
  </div>
  <div class="ui hidden divider"></div>
</div>

<div class="my-divider"></div>

<!-- What's New / Reach Out & Quicklinks -->
<div class="light-panel">
  <!-- What's New -->
  <h2 class="content-box">What's New</h2>
  <div class="ui centered stackable grid">
    <!-- FGW -->
    <div class="column eight wide">
      <img src="/images/portfolio/fgw.png" alt="p01" style="border:2px solid black;" class="ui fluid image medium centered">
    </div>
    <div class="column eight wide">
      <h4 class="my-sub-head"><i class="code icon"></i>FreeGoldWatch TODOs:</h4>
      <ul>
        <li>Implement SEO optimization.</li>
        <li>Finish Social Media API calls.</li>
        <li>Be small, fast, & responsive.</li>
        <li>Click <a class="quicklink" href="/portfolio">here</a> to learn more about this project.</li>
      </ul>
    </div>
  </div>
  <!-- Angular Children's Books -->
  <div class="ui centered stackable grid white-panel">
    <div class="column eight wide">
      <div class="" style="text-align:center;">
        <i class="huge book icon"></i>
        <i class="huge right arrow icon"></i>
        <i class="huge tablet alternate icon"></i>
      </div>
    </div>
    <div class="column eight wide">
      <h4 class="my-sub-head"><i class="asterisk icon"></i>New Project: Angular Children's Book</h4>
      <ul>
        <li>As a teacher, I thought of some good children's book ideas.</li>
        <li>All the kids read off tablets, so let's make some cool web-based books!</li>
        <li>Practicing my vector asset creation - Ps/Ai skillz.</li>
        <li>Wireframes/character designs next!</li>
      </ul>
    </div>
    <div class="ui hidden divider"></div>
  </div>

  <!-- Reach Out / Quick Links -->
  <div class="">
    <div class="ui centered stackable grid">

      <div class="column eight wide light-panel">
        <h3 class="content-box">Reach Out</h3>
        <ul style="list-style:none;">
          <li>
            <div class="consult">
              <a class="ui medium red label" href="https://docs.google.com/document/d/1xNb-GrPAKV5n2TqJ9olB0tRYqCDMKjxN05M9AXQo8HQ/edit?usp=sharing" target="_blank">
                <i class="big file alternate icon" aria-hidden="true"></i>
                Take a resume
              </a>
            </div>
          </li>
          <li>
            <div class="consult">
              <a class="ui medium green label" href="mailto:wakaspar@gmail.com" target="_blank">
                <i class="big envelope open icon" aria-hidden="true"></i>
                Send an email
              </a>
            </div>
          </li>
          <li>
            <div class="consult">
              <a class="ui medium blue label" href="https://www.linkedin.com/in/wakaspar/" target="_blank">
                <i class="big linkedin icon" aria-hidden="true"></i>
                Connect on LinkedIn
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="column eight wide dark-panel">
        <h3>Quicklinks</h3>
        <ul>
          <li>
            <a class="quicklink" href="/about">About Me</a>
          </li>
          <li>
            <a class="quicklink" href="/portfolio">Project Portfolio</a>
          </li>
          <li>
            <a class="quicklink" href="/art">My Artwork</a>
          </li>
        </ul>
      </div>

    </div>

  </div>


</div>

<div id="bg-two" class="bg-holder"></div>
