<head>
  <link rel="stylesheet" href="css/home.css">
</head>
<div id="home" class="bg-holder"></div>
<div class="content-box">
  <h1>Welcome</h1>
  <div class="greeting">
    <p>Hi, my name is Will Kaspar.  I'm a full-stack web developer based out of San Francisco, California.  This is my personal website.</p>
    <p>Explore and enjoy.  Thanks for dropping by!</p>
  </div>
</div>

<div id="bg-two" class="bg-holder"></div>
<div class="content-box ui grid">

  <div class="ui row centered">
    <h3>Featured Projects</h3>
  </div>

  <div class="consult-menu ui column six wide centered">
    <h3>Reach Out</h3>
    <div class="consult">
      <a class="ui medium red label" href="https://docs.google.com/document/d/1xNb-GrPAKV5n2TqJ9olB0tRYqCDMKjxN05M9AXQo8HQ/edit?usp=sharing" target="_blank">
        <i class="big file alternate icon" aria-hidden="true"></i>
        Take a resume</a>
    </div>

    <div class="consult">
      <a class="ui medium green label" href="mailto:wakaspar@gmail.com" target="_blank">
        <i class="big envelope open icon" aria-hidden="true"></i>
        Send an email
      </a>
    </div>

    <div class="consult">
      <a class="ui medium blue label" href="https://www.linkedin.com/in/wakaspar/" target="_blank">
        <i class="big linkedin icon" aria-hidden="true"></i>
        Connect on LinkedIn</a>
    </div>
  </div>

  <div class="ui column six wide centered">
  <h3>Quicklinks</h3>
    <ul>
      <li>
        <a href="#">About Me</a>
      </li>
      <li>
        <a href="#">Project Portfolio</a>
      </li>
      <li>
        <a href="#">My Artwork</a>
      </li>
    </ul>
  </div>


</div>
<div id="bg-three" class="bg-holder"></div>
