<head>
  <link rel="stylesheet" href="css/home.css">
</head>
<div id="home" class="bg-holder"></div>
<div class="content-box">
  <h1>Welcome</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div id="bg-two" class="bg-holder"></div>
<div class="content-box ui grid">
  <div class="consult-menu ui column six wide centered">
    <div class="ui row centered">
    <h3>Learn More</h3>
    </div>
    <div class="consult">
      <a class="ui medium red label" href="https://docs.google.com/document/d/1xNb-GrPAKV5n2TqJ9olB0tRYqCDMKjxN05M9AXQo8HQ/edit?usp=sharing" target="_blank">
        <i class="huge file alternate icon" aria-hidden="true"></i>
        Take a resume</a>
    </div>

    <div class="consult">
      <a class="ui medium green label" href="mailto:wakaspar@gmail.com" target="_blank">
        <i class="huge envelope open icon" aria-hidden="true"></i>
        Send an email
      </a>
    </div>

    <div class="consult">
      <a class="ui medium blue label" href="https://www.linkedin.com/in/wakaspar/" target="_blank">
        <i class="huge linkedin icon" aria-hidden="true"></i>
        Connect on LinkedIn</a>
    </div>
  </div>

  <div class="ui column six wide centered">
  <h3>Site Map</h3>
    <ul>
      <li>
        <a href="#">About Me</a>
      </li>
      <li>
        <a href="#">Project Portfolio</a>
      </li>
      <li>
        <a href="#">My Artwork</a>
      </li>
    </ul>
  </div>


</div>
<div id="bg-three" class="bg-holder"></div>
