<head>
  <link rel="stylesheet" href="css/portfolio.css">
</head>
<div id="home" class="bg-holder"></div>
<div class="content-box">
  <!-- PROJECT PORTFOLIO -->
  <div class="light-panel stackable ui grid">
    <!-- Row One -->
    <div class="ui row centered">
      <h3 class="my-header">Project Porftolio</h3>
    </div>
    <!-- Featured Project -->
    <div class="ui centered thirteen wide column">
      <h4 class="my-sub-head">Featured Project: FreeGoldWatch</h5>
      <p>My current consulting project is one of my favorite places in SF!  <strong>FreeGoldWatch</strong> is a local pinball arcade / print shop / hang-out spot, and  I'm stoked to be working on this project.  Stay tuned, <strong style="color:red;">in production soon!</strong></p>
      <img src="/images/fgw.png" alt="p01" class="p-img ui fluid image centered">
      <div class="ui two column grid">
        <div class="column eight wide">
          <ul>
            <li>Consumer-facing site for a local screenprinting shop / pinball arcade.</li>
            <li>Functioning state machine controls the movement of print orders in database.</li>
            <li>Improves responsive design / UX of the <a href="http://www.freegoldwatch.com" class="p-links" target="_blank">business's current website</a>.</li>
            <li>Interacts with the <a class="p-links" href="http://www.pinballmap.com/api/v1/docs" target="_blank">pinballmap.com API</a> and the <a href="http://instagram.com/developer" class="p-links" target="_blank">Instagram API</a>.</li>
            <li>Prouduction version currently in development!</li>
          </ul>
        </div>

        <div class="column eight wide">
          <ul>
            <p><strong>My Job: </strong> Full Stack Engineer, Consulting Web Developer / Designer</p>
            <p><strong>Tech Used: </strong> Ruby on Rails, PostgreSQL, jQuery, Devise, HTTParty, Instagram API, Semantic UI, CSS3, HTML5</p>
            <a class="ui mobile centered green button" href="http://freegoldwatch.herokuapp.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
            <a class="ui mobile centered secondary button " href="http://www.github.com/wakaspar/FreeGoldWatch" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Project Two -->
  <div class="dark-panel ui centered stackable grid">

    <div class="column four wide">
      <img src="/images/fcr.png" alt="p01" class="p-img ui fluid image centered">
    </div>

    <div class="column six wide">
      <h4 class="my-sub-head">Flywheel Coffee Roasters</h5>
      <ul>
        <li>Site for a local coffee roastery in the Haight</li>
        <li>Bulit a new logo with a custom font using Adobe PS and AI</li>
        <li>Learned about PHP and .liquid while digging through legacy code</li>
        <li>Responsible for regular content management</li>
        <li>Legacy dev credit goes to <a class="p-links" href="https://andyeblin.com/" target="_blank">Andy Eblin</a></li>
      </ul>
    </div>

    <div class="column five wide">
      <ul>
        <p><span class="p-info">My Role: </span>Consulting Web Developer / Designer</p>
        <p><span class="p-info">Tech Used: </span>Shopify, Liquid, Adobe Photoshop, Adobe Illustrator, HTML5</p>
        <a class="ui small red button" href="http://flywheelcoffee.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> in production</a>
      </ul>
    </div>
  </div>

  <!-- Project Three -->
  <div class="light-panel ui centered stackable grid">

    <div class="column four wide">
      <img src="/images/fce.png" alt="p01" class="p-img ui fluid image centered">
    </div>

    <div class="column six wide">
      <h4 class="my-sub-head">Flywheel Coffee Events</h5>
      <ul>
        <li>Site for the catering arm of Flywheel Coffee Roasters</li>
        <li>Implemented custom CSS to modify default Squarespace templates</li>
        <li>Used CMS to make improvements to UI/UX, SEO</li>
        <li>Built new page to display social media using Instagram’s API</li>
        <li>Produced new assets to be used on all pages, including a new logo, with Adobe PS and AI</li>
      </ul>
    </div>

    <div class="column five wide">
      <ul>
        <p><span class="p-info">My Role: </span>Consulting Web Developer / Designer</p>
        <p><span class="p-info">Tech Used: </span>Squarespace CMS, Adobe Photoshop, Adobe Illustrator, jQuery, CSS3, HTML5</p>
        <a class="ui small red button" href="http://flywheelcoffeeevents.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> in production</a>
      </ul>
    </div>
  </div>

  <!-- Project Four -->
  <div class="dark-panel ui centered stackable grid">

    <div class="column four wide">
      <img src="/images/lcm.png" alt="p01" class="p-img ui fluid image centered">
    </div>

    <div class="column six wide">
      <h4 class="my-sub-head">Le Chat Meow</h5>
      <ul>
        <li>Role-playing chat application for cat owners</li>
        <li>Real-time chat (in a Rails app!?) powered by Rails5's ActionCable.</li>
        <li>Carrierwave uploads / stores user avatars.</li>
        <li>Device handles authorization / authentication.</li>
        <li>Originally <a href="http://www.github.com/ychoy/wehuddle" class="p-links" target="_blank">WeHuddle</a>, a chat app for agile teams.</li>
        <li>WeHuddle was built by <a class="p-links" href="https://thelmaboamah.github.io/" target="_blank">Thelma Boamah</a>, <a class="p-links" href="http://www.yanyinchoy.com/" target="_blank">Yan Yin Choy</a>, and myself!</li>
      </ul>
    </div>

    <div class="column five wide">
      <ul>
        <p><span class="p-info">My Role: </span>Full Stack Engineer, Back End Architecture and Development</p>
        <p><span class="p-info">Tech Used: </span> Ruby On Rails, ActionCable, PostgreSQL, jQuery, Devise, Carrierwave, Semantic UI, CSS3, HTML5</p>
        <a class="ui small green button" href="http://lechatmeow.herokuapp.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
        <a class="ui small secondary button" href="http://www.github.com/wakaspar/lechatmeow" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
      </ul>
    </div>
  </div>

  <!-- Project Five -->
  <div class="light-panel ui centered stackable grid">

    <div class="column four wide">
      <img src="/images/ourcade.png" alt="p01" class="p-img ui fluid image centered">
    </div>

    <div class="column six wide">
      <h4 class="my-sub-head">OurCade</h5>
      <ul>
        <li>AngularJS single-page application that posts high scores from machines at my favorite pinball arcade, FreeGoldWatch.</li>
        <li>Interacts with the <a class="p-links" href="http://www.pinballmap.com/api/v1/docs" target="_blank">pinballmap.com API</a>.</li>
        <li>Built for easy scalability - from one arcade to many.</li>
        <li>Mobile friendly design!</li>
      </ul>
    </div>

    <div class="column five wide">
      <ul>
        <p><span class="p-info">My Role: </span> Full Stack Engineer</p>
        <p><span class="p-info">Tech Used: </span> Node.js, AngularJS, jQuery, Materalize, CSS3, HTML5</p>
        <a class="ui small green button" href="http://ourcade.bitballoon.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
        <a class="ui small secondary button " href="http://www.github.com/wakaspar/freegoldscores" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
      </ul>
    </div>

  </div>

  <!-- Project Six -->
  <div class="dark-panel ui centered stackable grid">

    <div class="column four wide">
      <img src="/images/ding.png" alt="p01" class="p-img ui fluid image centered">
    </div>

    <div class="column six wide">
      <h4 class="my-sub-head">Ding!</h5>
      <ul>
        <li>A skill exchange platform and my first full-stack application.</li>
        <li>Allows users to create and enroll / unenroll in skill-based workshop classes.</li>
        <li>A <a href="https://ding-levelup2.herokuapp.com/" class="p-links">second version</a> uses Passport JS for Google oAuth.</li>
        <li>Pair-programmed with <a href="http://www.loganmedina.com/" class="p-links" target="_blank">Logan Medina</a>.</li>
      </ul>
    </div>

    <div class="column five wide">
      <ul>
        <p><span class="p-info">My Role: </span>Full Stack Engineer</p>
        <p><span class="p-info">Tech Used: </span> Node.js, MongoDB, Passport JS, Handlebars, Bootstrap, CSS3, HTML5</p>
        <a class="ui small green button" href="http://ding-levelup.herokuapp.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
        <a class="ui small secondary button" href="http://www.github.com/medinal/ding" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
      </ul>
    </div>
  </div>
</div>

<div id="bg-two" class="bg-holder"></div>
<div class="content-box">
  <h3>Process</h3>
</div>
<div id="bg-three" class="bg-holder"></div>
