<head>
  <link rel="stylesheet" href="css/portfolio.css">
  <script type="text/javascript" src="scripts/lightbox.js"></script>
</head>

<div id="home" class="bg-holder"></div>

<!-- PROJECT PORTFOLIO -->
<div class="" style="background:#e1e1e1;">
  <h2 class="content-box">Project Portfolio</h2>

  <div class="light-panel stackable ui grid">
    <!-- Project One -->
    <div class="dark-panel ui centered stackable grid">
      <div class="column four wide">
        <img src="/images/portfolio/fgw.png" alt="p01" class="p-img ui fluid image centered">
      </div>

      <div class="column six wide">
        <h4 class="my-sub-head">FreeGoldWatch</h5>
        <ul>
          <li>Consumer-facing site for a local screenprinting shop / pinball arcade.</li>
          <li>Functioning state machine controls the movement of print orders in database.</li>
          <li>Improves responsive design / UX of the <a href="http://www.freegoldwatch.com" class="p-links" target="_blank">business's current website</a>.</li>
          <li>Interacts with the <a class="p-links" href="http://www.pinballmap.com/api/v1/docs" target="_blank">pinballmap.com API</a> and the <a href="http://instagram.com/developer" class="p-links" target="_blank">Instagram API</a>.</li>
        </ul>
      </div>

      <div class="column five wide">
        <ul>
          <span style="font-size:2em;"><i class="devicon-ruby-plain"></i> <i class="devicon-rails-plain"></i> <i class="devicon-postgresql-plain"></i> <i class="devicon-jquery-plain"></i> <i class="devicon-sass-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-html5-plain"></i></span>
          <p><span class="p-info">My Role: </span> Full Stack Engineer, Consulting Web Developer & Designer</p>
          <p><span class="p-info">Tech Used: </span> Ruby on Rails, PostgreSQL, jQuery, SaSS, Semantic UI, CSS3, HTML5, Heroku</p>
          <a class="ui mobile centered green button" href="http://freegoldwatch.herokuapp.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
          <a class="ui mobile centered secondary button " href="http://www.github.com/wakaspar/FreeGoldWatch" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
        </ul>
      </div>
    </div>

    <!-- Project Two -->
    <div class="light-panel ui centered stackable grid">

      <div class="column four wide">
        <img src="/images/portfolio/fcr.png" alt="p01" class="p-img ui fluid image centered">
      </div>

      <div class="column six wide">
        <h4 class="my-sub-head">Flywheel Coffee Roasters</h5>
        <ul>
          <li>Site for a local coffee roastery in the Haight</li>
          <li>Bulit a new logo with a custom font using Adobe PS and AI</li>
          <li>Learned about PHP and .liquid while digging through legacy code</li>
          <li>Responsible for regular content management</li>
          <li>Legacy dev credit goes to <a class="p-links" href="https://andyeblin.com/" target="_blank">Andy Eblin</a></li>
        </ul>
      </div>

      <div class="column five wide">
        <ul>
          <span style="font-size:2em;"><i class="devicon-wordpress-plain"></i> <i class="devicon-photoshop-plain"></i> <i class="devicon-illustrator-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-html5-plain"></i></span>
          <p><span class="p-info">My Role: </span>Consulting Web Developer / Designer</p>
          <p><span class="p-info">Tech Used: </span>Shopify, Liquid, Adobe Photoshop, Adobe Illustrator, HTML5</p>
          <a class="ui small red button" href="http://flywheelcoffee.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> in production</a>
        </ul>
      </div>
    </div>

    <!-- Project Three -->
    <div class="dark-panel ui centered stackable grid">

      <div class="column four wide">
        <img src="/images/portfolio/fce.png" alt="p01" class="p-img ui fluid image centered">
      </div>

      <div class="column six wide">
        <h4 class="my-sub-head">Flywheel Coffee Events</h5>
        <ul>
          <li>Site for the catering arm of Flywheel Coffee Roasters</li>
          <li>Implemented custom CSS to modify default Squarespace templates</li>
          <li>Used CMS to make improvements to UI/UX, SEO</li>
          <li>Built new page to display social media using Instagram’s API</li>
          <li>Produced new assets to be used on all pages, including a new logo, with Adobe PS and AI</li>
        </ul>
      </div>

      <div class="column five wide">
        <ul>
          <span style="font-size:2em;"><i class="devicon-wordpress-plain"></i> <i class="devicon-photoshop-plain"></i> <i class="devicon-illustrator-plain"></i> <i class="devicon-jquery-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-html5-plain"></i></span>
          <p><span class="p-info">My Role: </span>Consulting Web Developer / Designer</p>
          <p><span class="p-info">Tech Used: </span>Squarespace CMS, Adobe Photoshop, Adobe Illustrator, jQuery, HTML5</p>
          <a class="ui small red button" href="http://flywheelcoffeeevents.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> in production</a>
        </ul>
      </div>
    </div>

    <!-- Project Four -->
    <div class="light-panel ui centered stackable grid">

      <div class="column four wide">
        <img src="/images/portfolio/lcm.png" alt="p01" class="p-img ui fluid image centered">
      </div>

      <div class="column six wide">
        <h4 class="my-sub-head">Le Chat Meow</h5>
        <ul>
          <li>Role-playing chat application for cat owners</li>
          <li>Real-time chat (in a Rails app!?) powered by Rails5's ActionCable.</li>
          <li>Carrierwave uploads / stores user avatars.</li>
          <li>Device handles authorization / authentication.</li>
          <li>Originally <a href="http://www.github.com/ychoy/wehuddle" class="p-links" target="_blank">WeHuddle</a>, a chat app for agile teams.</li>
          <li>WeHuddle was built by <a class="p-links" href="https://thelmaboamah.github.io/" target="_blank">Thelma Boamah</a>, <a class="p-links" href="http://www.yanyinchoy.com/" target="_blank">Yan Yin Choy</a>, and myself!</li>
        </ul>
      </div>

      <div class="column five wide">
        <ul>
          <span style="font-size:2em;"><i class="devicon-ruby-plain"></i> <i class="devicon-rails-plain"></i> <i class="devicon-redis-plain"></i> <i class="devicon-jquery-plain"></i> <i class="devicon-sass-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-html5-plain"></i></span>
          <p><span class="p-info">My Role: </span>Full Stack Engineer, Back End Architecture and Development</p>
          <p><span class="p-info">Tech Used: </span> Ruby On Rails, ActionCable, PostgreSQL, Redis, jQuery, SaSS, Semantic UI, CSS3, HTML5, Heroku</p>
          <a class="ui small green button" href="http://lechatmeow.herokuapp.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
          <a class="ui small secondary button" href="http://www.github.com/wakaspar/lechatmeow" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
        </ul>
      </div>
    </div>

    <!-- Project Five -->
    <div class="dark-panel ui centered stackable grid">

      <div class="column four wide">
        <img src="/images/portfolio/ourcade.png" alt="p01" class="p-img ui fluid image centered">
      </div>

      <div class="column six wide">
        <h4 class="my-sub-head">OurCade</h5>
        <ul>
          <li>AngularJS single-page application that posts high scores from machines at my favorite pinball arcade, FreeGoldWatch.</li>
          <li>Interacts with the <a class="p-links" href="http://www.pinballmap.com/api/v1/docs" target="_blank">pinballmap.com API</a>.</li>
          <li>Built for easy scalability - from one arcade to many.</li>
          <li>Mobile friendly design!</li>
        </ul>
      </div>

      <div class="column five wide">
        <ul>
          <span style="font-size:2em;"><i class="devicon-nodejs-plain"></i> <i class="devicon-angularjs-plain"></i> <i class="devicon-jquery-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-html5-plain"></i></span>
          <p><span class="p-info">My Role: </span> Full Stack Engineer</p>
          <p><span class="p-info">Tech Used: </span> Node.js, AngularJS, jQuery, Materalize, CSS3, HTML5</p>
          <a class="ui small green button" href="http://ourcade.bitballoon.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
          <a class="ui small secondary button " href="http://www.github.com/wakaspar/freegoldscores" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
        </ul>
      </div>
    </div>

    <!-- Project Six -->
    <div class="light-panel ui centered stackable grid">

      <div class="column four wide">
        <img src="/images/portfolio/ding.png" alt="p01" class="p-img ui fluid image centered">
      </div>

      <div class="column six wide">
        <h4 class="my-sub-head">Ding!</h5>
        <ul>
          <li>A skill exchange platform and my first full-stack application.</li>
          <li>Allows users to create and enroll / unenroll in skill-based workshop classes.</li>
          <li>A <a href="https://ding-levelup2.herokuapp.com/" class="p-links">second version</a> uses Passport JS for Google oAuth.</li>
          <li>Pair-programmed with <a href="http://www.loganmedina.com/" class="p-links" target="_blank">Logan Medina</a>.</li>
        </ul>
      </div>

      <div class="column five wide">
        <ul>
          <span style="font-size:2em;"><i class="devicon-nodejs-plain"></i> <i class="devicon-mongodb-plain"></i> <i class="devicon-jquery-plain"></i> <i class="devicon-bootstrap-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-html5-plain"></i> <i class="devicon-heroku-plain"></i></span>
          <p><span class="p-info">My Role: </span>Full Stack Engineer</p>
          <p><span class="p-info">Tech Used: </span> Node.js, Express, MongoDB, jQuery, Passport JS, Handlebars, Bootstrap, CSS3, HTML5, Herkou</p>
          <a class="ui small green button" href="http://ding-levelup.herokuapp.com" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> demo</a>
          <a class="ui small secondary button" href="http://www.github.com/medinal/ding" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> repo</a>
        </ul>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </div>
</div>

<div class="my-divider"></div>

<div class="" style="background:#e1e1e1;">
  <div class="content-box">
    <h3>Process</h3>
    <p>Most software ideas begin in our heads.  I believe that the first step to realizing an idea is to put it down on paper.  For me, this results in notebook after notebook full of designs, data, functions, and lots of brainstorming.  My process is very visual, and a lot of my fellow techie friends find it really fascinating.  I've posted some favorites below:</p>
  </div>
  <div class="ui hidden divider"></div>
  <!-- Image Gallery -->
  <div class="ui grid centered stackable">
    <div class="column twelve wide">
      <div class="ui small images">
        <img src="/images/process/thumb1.jpg" onclick="openModal();currentSlide(1)">
        <img src="/images/process/thumb2.jpg" onclick="openModal();currentSlide(2)">
        <img src="/images/process/thumb3.jpg" onclick="openModal();currentSlide(3)">
        <img src="/images/process/thumb4.jpg" onclick="openModal();currentSlide(4)">
        <img src="/images/process/thumb5.jpg" onclick="openModal();currentSlide(5)">
        <img src="/images/process/thumb6.jpg" onclick="openModal();currentSlide(6)">
        <img src="/images/process/thumb7.jpg" onclick="openModal();currentSlide(7)">
        <img src="/images/process/thumb8.jpg" onclick="openModal();currentSlide(8)">
        <img src="/images/process/thumb9.jpg" onclick="openModal();currentSlide(9)">
      </div>
    </div>
  </div>

  <!-- Gallery Lightbox -->
  <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">
      <div class="my-slides">
        <img src="/images/process/p1.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p2.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p4.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p6.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p8.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p9.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p10.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p11.jpg" class="ui huge centered image">
      </div>
      <div class="my-slides">
        <img src="/images/process/p13.jpg" class="ui huge centered image">
      </div>
      <!-- Next/previous controls -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
  </div>
</div>

<div id="bg-three" class="bg-holder"></div>
