/******************/
/* INDEX.HTML CSS */
/******************/

body {
  background-color: #1c1c1c;
}


/* Page Header */

.page-header {
  position: fixed;
  top: 0%;
  right: 2%;
}

.header-leaf {
  color: #51ad51;
}

.header-leaf:hover {
  color: darkgreen;
}

.header-w {
  padding-left: 3px;
  color: dodgerblue;
}

.header-k {
  color: blue;
}

.page-header h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2.75em;
  float: right;
  text-shadow: 3px 2px black;
}

/* Page Layout */

.parallax-container {
  height: 100vh;
}

.projects-pattern {
  background: url('./imgs/simple_dashed.png');
  width: 100%;
  height: 100%;
}

.page-bg {
  width: 112vh;
  height: 112vh;
  overflow: hidden;
}

.parallax-container .section {
  width: 100%;
}

.section h4 {
  font-family: 'Audiowide', sans-serif;
  color: #777777;
  text-shadow: 3px 2px black;
}

.section .flow-text {
  text-align: center;
  color: #545454;
}

.panel {
  margin-top: 20vh;
  background: rgba(66, 66, 66, .94);
  border-radius: 3px;
  padding: .5em 1.5em;
  width: 73%;
}

.sub-head {
  font-family: 'Audiowide', sans-serif;
  text-shadow: 2px 2px grey;
}

h5 {
  font-weight: bold;
}

.btn:hover, .btn:active, .btn:focus {
  color: black;
  background: #777777;
}

.btn {
  color: coral;
  background: #1c1c1c;
  text-decoration: none;
}

.contact-link i:hover {
  color: #777777;
}


/* Projets */

hr {
  border-color: black;
}

#page-two img {
  float:left;
  display: inline-block;
  margin: 2%;
  max-width: 200px;
}

.ye-old-fgw {
  text-decoration: none;
  color: coral;
}

.back-link, .next-link, .prev-link {
  margin: 2% 1%;
  float: right;
  z-index: 1;
}

.deploy-link, .repo-link {
  margin: 1% 0%;
}

.next-link, .prev-link {
  color: navajowhite;
}

.deploy-link {
  color: dodgerblue;
}

.repo-link {
  color: #51ad51;
}


/* Technologies */

.stack-list, .contact-list {
  display: flex;
  color: #777777;
}

.stack-list i, .contact-link i, .art-panel a img {
  text-shadow: .05em .05em black;
}

.client, .server, .database, .languages {
  margin: 0% 6.5%;
  text-align: center;
}

.fa-laptop {
  color: #51ad51;
}

.fa-server {
  color: coral;
}

.fa-database {
  color: dodgerblue;
}

.fa-code {
  color: navajowhite;
}

.fa-globe {
  color: blue;
}

/* Gardening & Artwork */

.artwork-pattern {
  background: url('./imgs/moulin.png');
  width: 100%;
  height: 100%;
}

.art-panel, .farm-panel {
  text-align: center;
}

.artwork, .farm {
  margin: 2%;
  max-width: 15%;
}


/* Contact */

.contact-list i {
  margin: 1% 1%;
}

.contact-link {
  text-align: center;
  color: #777777;
  margin: auto;
}

.fa-envelope {
  color: dodgerblue;
}

.fa-file-text {
  color: coral;
}

.fa-github-square {
  color: #51ad51;
}

.fa-linkedin-square {
  color: navajowhite;
}

/* Footer */

.page-footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background: #000000;
}

.dev-info {
  color: navajowhite;
  font-weight: 100;
  margin-left: 10px;
  line-height: 0;
  font-size: 1.25em;
}

.navigator a {
  color: coral;
}

.navigator {
  font-weight: 100;
  float: right;
  line-height: 0;
  margin-top: -15px;
  margin-right: 2%;
  text-align: right;
  font-size: 1em;
}

.navigator a:hover, .navigator a:hover {
  color: navajowhite;
}

.every-other-line {
  color: coral;
}

.footer-icons {
  position: absolute;
  left: 41.5%;
}

.footer-icons i {
  color: navajowhite;
  margin: 10px 10px;
}

.footer-icons i:hover {
  color: coral;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


@media only screen and (orientation : portrait) {
   .parallax-container {
                         max-height : 50vh;
                         overflow: hidden;
                         position: relative;
                       }

   .page-bg            {
                         position: absolute;
                         margin: auto;
                         min-height: 100%;
                         min-width: 100%;
                       }
 .panel                { margin-top: 5vh; }
}
